#pfa_options label,
#pfa_meta_box label {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

#pfa_options input[type="text"] {
    width: 400px;
}

#pfa_meta_box input[type="checkbox"] {
    margin-left: 20px;
}

#pfa_options textarea,
#pfa_meta_box textarea {
    width: 500px;
    height: 100px;
}
